:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  padding: auto;
}

body {
  font-family: var(--default-font-family);
}
.hero {
  background-color: var(--secondary-color);
  padding: 60px 20px;
}
.hero p {
  font-size: 36px;
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
  line-height: 1.5;
}
h3 {
  font-size: 36px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 2;

  color: #272142;
}
h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
p {
  font-size: 16px;

  line-height: 1.5;
  font-weight: normal;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link:hover {
  cursor: pointer;
  color: var(--primary-color);
  background: white;
  border: 1px solid var(--primary-color);
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}
.about-link:hover {
  background: var(--primary-color);
  color: white;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  transition: all 150ms ease-in-out;
}
.btn-branding-outline {
  border-radius: 4px;
  padding: 15px 38;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  border: 1px solid var(--primary-color);
}
.btn-branding-outline:hover {
  color: white;
  background: var(--primary-color);
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.email a {
  text-decoration: none;
  color: black;
  font-size: 28px;
}
.email a:hover {
  color: var(--primary-color);
}
.back-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--primary-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
p {
  font-size: 18px;
  line-height: 30px;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 25px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 16px;
}
.content {
  margin: 30px;
}
nav .container {
  margin-left: 0;
  margin-right: 0;
}
.logo {
  max-height: 40px;
}
nav {
  margin: 0 20px;
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--primary-color);
}
.contact-page {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
.contact-page a {
  color: #272142;
  font-size: 24px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.contact-page a:hover {
  color: var(--primary-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  h3 {
    font-size: 30px;
  }

  .project-description {
    text-align: center;
  }
  .contact-page {
    padding: 10px;
  }

  .content-container {
    text-align: center;
    padding-top: 40px;
    margin: 30px 0;
  }
  .content h1 {
    font-size: 38px;
    line-height: 1.2;
  }
  .content {
    margin: 10 0;
  }
  nav a {
    font-size: 14px;
  }
  nav {
    padding: 0px 8px;
  }

  h4 {
    font-size: 26px;
  }
}
